<!DOCTYPE html>
 @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationLesson1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationLesson1.styles.css" asp-append-version="true" />


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Web Application</title>
    </head>


</head>
<body>

    
   @*  Line used from Microsoft *@
    @if (HttpContextAccessor.HttpContext.Session.GetString("LoggedIn") != null && HttpContextAccessor.HttpContext.Session.GetString("LoggedIn") == "true")
    { 
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">ContactUs</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="MyWork" asp-action="MyWork">MyWork</a>
        </div>

        <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
        </div>

        <div id="normalContentContainer" class="content">
            @RenderBody()
        </div>


   
    }

    else
    {
        <div id="loginContentContainer" class="content">
            @RenderBody()
        </div>
    }


 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

       @*  REFERENCES 
Microsoft, 2024. Session and state management in ASP.NET Core. [Online]
Available at: https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-8.0
[Accessed 27 May 2024].

       *@