@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>

<body style="margin: 0; padding: 0; background-image: url('https://i.pinimg.com/564x/0e/cb/18/0ecb187bdc4fd92a31f5a2c182bc2b5d.jpg'); background-size: cover; background-position: center;">
    <div class="container">

        <img src="~/Images/boom-.png" width="300px" height="300px" style="margin-left:100px; margin-bottom:0px"/>

        <div style="margin-left:100px; margin-top:50; margin-right:20; color:cornsilk" >
            <h3>Background</h3>
            <p>KhumaloCraft is a e-commerce platform founded by James Khumalo, thriving to showcase artworks from artisans worldwid.</p>  
        </div>

        <img src="~/Images/Collaboration-.png" width="300px" height="300px" style="margin-left:500px; margin-bottom:0px" />

        <div style="margin-left:100px; margin-top:50; margin-right:20; color:cornsilk">
            <h3>Backgrounnd</h3>
            <p>KhumaloCraft is a e-commerce platform founded by James Khumalo, thriving to showcase artworks from artisans worldwid.</p>
        </div>

    </div>
</body>