@{
    ViewData["Title"] = "AboutUs";
}


<body style="margin: 0; padding: 0; background-image: url('https://i.pinimg.com/564x/0e/cb/18/0ecb187bdc4fd92a31f5a2c182bc2b5d.jpg'); background-size: cover; background-position: center;">
    <div class="about-section">
        <div class="inner-container">
 
            
            <div class="about-section">
                <h1>About Us Page</h1>

                 <p>KhumaloCraft is a e-commerce platform founded by James Khumalo.</p>

                <p>
                    The purpose of this site is to create a safe and friendly environment for artisans
                    like myself to browse and be inspired.
                </p>

                <p>
                    My artworks are not just about what you see but tell a story behind them.
                    The pieces are not just art works but works of art that come from the heart.
                </p>

                <p>
                    When you shop with us, you're investing in a piece of art history, in my journey.
                </p>

            </div>

            <h2 style="text-align:center">Our Aim</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        
                        <div class="container">
                            <h2>Collaboration</h2>
                            <p style="color:black">Aims to showcase my works and invite others to collaborate.</p>
                            <p><button class="button">Collab</button></p>
                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="card">
                       
                        <div class="container">
                            <h2>Purchase</h2>
                            <p style="color:black"> Support another artisan and buy some of my works :)</p>
                            <p><button class="button">Buy a work</button></p>
                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="card">
                       
                        <div class="container">
                            <h2>Inspire</h2>
                            <p style="color:black">Hopefully my works inpire you to get intouch with your imagination!</p>
                            <p><button class="button">Make your own</button></p>
                        </div>
                    </div>
                </div>



            </div>

        </div>
       

    </div>
</body>