@{
    ViewData["Title"] = "Home Page";
}



<body style="margin: 0; padding: 0; background-image: url('https://i.pinimg.com/564x/0e/cb/18/0ecb187bdc4fd92a31f5a2c182bc2b5d.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        
        <div class="text-center" style="color:tan">
            <h1 class="display-4">Welcome to</h1>
            <p style="font-family: Courier;"> KhumaloCraft</p>
        </div>

        <div class="picture-gallery">
            <img src="~/Images/c-knives.jpg" />   <!--From www.wholesaleblades.com-->
            <img src="~/Images/beads-new.jpg" />  <!--From ruggedrosaries.com-->
            <img src="~/Images/barrel.jpg" />     <!--From www.indiamart.com-->
            <img src="~/Images/pot.jpg" />        <!--From www.wholesaleblades.com-->
            <img src="~/Images/glassArt.jpg" />   <!--From timcarey.com-->
        </div>
       
    </div>

    <!--
                         REFERENCING
    WholeSaleBlades, 2024. Cool Pocket Knives. [Online]
    Available at: https://www.wholesaleblades.com/pocket-knives
    [Accessed 29 March 2024].
     Available at: https://ruggedrosaries.com/collections/paracord-rosaries?epik=dj0yJnU9cEpIRUFXYVhOa3ZBQkJGRjh4bTRuNHJXVGk5VnFOcDMmcD0wJm49b0tSanRUaVl5d2tRUmZ1NDFpQkRsdyZ0PUFBQUFBR1lNWlVZ
    [Accessed 29 March 2024].
    indiamart, 2024. French Oak Barrel. [Online]
    Available at: https://www.indiamart.com/proddetail/french-oak-barrel-22251907933.html
    [Accessed 29 March 2024].
    SoulCeramics, 2024. Types of Clay for Pottery - The Main Clay Types. [Online]
    Available at: https://www.soulceramics.com/pages/types-of-clay
    [Accessed 29 March 2024].
    Carey, T., 2024. Tim Cary Studio. [Online]
    Available at: https://timcarey.com/services/

    -->
</body>



