@{
    ViewData["Title"] = "MyWork";
}

<body style="margin: 0; padding: 0; background-image: url('https://i.pinimg.com/564x/0e/cb/18/0ecb187bdc4fd92a31f5a2c182bc2b5d.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        <h1 style="text-align:center; color:white;">Work Page</h1>
<       
        <div class="box-container">

            <div class="box">
                <img src="~/Images/K-necklace.png" />
                <h3>Nacklaces</h3>
                <p>Handmade beaded necklaces</p>
                <a href="#" class="btn" style="background-color:tan">Read more</a>
            </div>

            <div class="box">
                <img src="~/Images/k-knives.png" />
                <h3>knives</h3>
                <p>Fansacy handmade knives</p>
                <a href="#" class="btn" style="background-color:tan">Read more</a>
            </div>

            <div class="box">
                <img src="~/Images/k-pottery.png" />
                <h3>Pottery</h3>
                <p>Handmade crafted pottery</p>
                <a href="#" class="btn" style="background-color:tan">Read more</a>
            </div>

            <div class="box">
                <img src="~/Images/k-woodenWorks.png" />
                <h3>Wooden Works</h3>
                <p>Hand crafted wooden works</p>
                <a href="#" class="btn" style="background-color:tan">Read more</a>
            </div>

            <div class="box">
                <img src="~/Images/k-wineBarrel.png" />
                <h3>WIne barrels</h3>
                <p>Handmade wine barrels</p>
                <a href="#" class="btn" style="background-color:tan">Read more</a>
            </div>

            <div class="box">
                <img src="~/Images/k-gemTree.png" />
                <h3>Gem Trees</h3>
                <p>Hand crafted gem trees</p>
                <a href="#" class="btn" style="background-color:tan">Read more</a>
            </div>

        </div>

    </div>
</body>

