@{
    ViewData["Title"] = "MyWork";
}

<body style="margin: 0; padding: 0; background-image: url('https://i.pinimg.com/564x/0e/cb/18/0ecb187bdc4fd92a31f5a2c182bc2b5d.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        

        <!--1 Knives-->
            <h1 style="text-align:center; color:white; width:100%">Knives</h1>
            <
            <div class="box-container">

                <div class="box">
                <img src="~/Images/knives2.png" />    <!--From www.wholesaleblades.com-->
                <h3>knives</h3>
                <p>A set of handmade made knives</p>
                    <a href="#" class="btn" style="background-color:tan">R380</a>
                </div>
                
            </div>

        <!--1 Necklaces-->
        <h1 style="text-align:center; color:white; width:100%">Jewellery</h1>
        <div class="box-container">

            <div class="box">
                <img src="~/Images/necklace5.png" />   <!--From www.fancyfairy.com-->
                <h3>Head jews</h3>
                <p>Fantasy handmade head jewellery with butterflys</p>
                <a href="#" class="btn" style="background-color:tan">R370</a>
            </div>

        </div>


        <!--3 Pottery-->
                <h1 style="text-align:center; color:white; width:100%">Pottery</h1>
                <
                <div class="box-container">

                    <div class="box">
                        <img src="~/Images/-pottery.png" />   <!--From lifeonvirginiastreet.com-->
                        <h3>Pottery</h3>
                        <p>Black handmade crafted pottery set</p>
                        <a href="#" class="btn" style="background-color:tan">R500</a>
                    </div>
                </div>

        <!--4 Wooden-->

        <h1 style="text-align:center; color:white; width:100%">Wooden</h1>
        <
        <div class="box-container">

            <div class="box">
                <img src="~/Images/-couch.png" />  <!--From inspiringdesigns.net-->
                <h3>Wooden furnature</h3>
                <p>Unique handmade wooden couch</p>
                <a href="#" class="btn" style="background-color:tan">R650</a>
            </div>

        </div>



        <!--5 Wine Barrels-->

        <h1 style="text-align:center; color:white; width:100%">Wine Barrels</h1>
        <
        <div class="box-container">

            <div class="box">
                <img src="~/Images/-wineBarrel.png" />  <!--From www.vinepair.com-->
                <h3>Wine barrels</h3>
                <p>Handmade wine barrels used for storing wine</p>
                <a href="#" class="btn" style="background-color:tan">R300</a>
            </div>

        </div>


        <!--6 Gem Trees-->

        <h1 style="text-align:center; color:white; width:100%">Gem Trees</h1>
        <
        <div class="box-container">

            <div class="box">
                <img src="~/Images/-gemtreenew.png" />  <!--From www.twystedroots.co.uk/-->
                <h3>Gem Trees</h3>
                <p>Hand crafted gem trees made with wire and purple gems</p>
                <a href="#" class="btn" style="background-color:tan">R280</a>
            </div>
           
        </div>

    </div>

    <!--inspiringdesigns, 2024. These Live Edge Wooden Sofas Are The Perfect Furniture Piece For a Rustic Design. [Online]
    Available at: https://inspiringdesigns.net/live-edge-wooden-sofas/
    [Accessed 29 March 2024].
    Jarman, A., 2020. 3 Faerie Crowns In Search Of Their Queens. [Online]
    Available at: https://www.fancyfairy.com/news/2020/5/26/3-faerie-crowns-in-search-of-their-queens
    [Accessed 29 March 2024].
    lifeonvirginiastreet, 2024. Black Vase Options & Styling Ideas. [Online]
    Available at: https://lifeonvirginiastreet.com/black-vase-options-styling-ideas/
    [Accessed 29 March 2024].
    inspiringdesigns, 2024. These Live Edge Wooden Sofas Are The Perfect Furniture Piece For a Rustic Design. [Online]
    Available at: https://inspiringdesigns.net/live-edge-wooden-sofas/
    [Accessed 29 March 2024].
    Jarman, A., 2020. 3 Faerie Crowns In Search Of Their Queens. [Online]
    Available at: https://www.fancyfairy.com/news/2020/5/26/3-faerie-crowns-in-search-of-their-queens
    [Accessed 29 March 2024].
    lifeonvirginiastreet, 2024. Black Vase Options & Styling Ideas. [Online]
    Available at: https://lifeonvirginiastreet.com/black-vase-options-styling-ideas/
    [Accessed 29 March 2024].
    vinepair, 2024. 18 Creative Ways To Repurpose Wine Barrels. [Online]
    Available at: https://vinepair.com/wine-blog/18-creative-ways-to-repurpose-wine-barrels/?utm_source=pinterest&utm_medium=social
    [Accessed 29 March 2024]. -->
</body>

