html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

.myClass {
    color: lightpink;
}


/*<!-- Code taken from W3Schools-- >*/

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    color: white; /* Text color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: whitesmoke;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: deepskyblue;
        }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: red;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}


/*<!-- Ends here-- >*/




.search {
    float: right;
}



.picture-gallery-container {
    text-align:center;
}

div.picture-gallery {
    display:inline-block;
    position:center;
    background-color: #333;
    overflow:auto;
    white-space:nowrap;
    padding: 10px;
    height:450px;
    width:950px;
}

div.picture-gallery img {
        padding: 10px;
        width: 500px; 
        height: 420px; 
        object-fit: cover;
}


/*<!-- Code from -->*/

.button-85 {
    margin-top: 15px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button-85:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*<!-- Code from -->*/



div.container {
    padding:15px 9%;
    padding-bottom:100px;    
}

    div.container .heading {
        text-align:center;
        padding-bottom:15px;
        color: #fff;
        text-shadow: 0 5px 10px rgba(0,0,0,.2);
        font-size:50px;
    }

div.container .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-column-gap:20px;
    grid-row-gap:10px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius:5px;
    background:#fff;
    text-align:center;
    padding:30px 20px;
}

.container .box-container .box img{
    height:170px;
}

.container .box-container .box h3{
    color:#444;
    font-size:22px;
    padding: 10px 0;
}

    .container .box-container .box p {
        color: #777;
        font-size: 15px;
        line-height:1.8;
    }

    .container .box-container .box btn{
        margin-top:10px;
        display:inline-block;
        background:#333;
        color:dimgrey;
        font-size:17px;
        border-radius: 5px;
        padding: 8px 25px;
    }

    .container .box-container .box btn:hover{
        letter-spacing:1px;
    }

        .container .box-container .box:hover {
            box-shadow:0 10px 15px rgba(0,0,0,.3);
            transform: scale(1.02);
        }

        * {box-sizing: border-box;}

        .input-container {
            display:flex;
            width: 100%;
            margin-bottom:15px;
        }

        .icon{
            padding: 10px;
            background:tan;
            color: white;
            min-width:50px;
            text-align:center;
        }

        .input-field{
            width: 100%;
            padding: 10px;
            outline: none;
            border: 2px solid tan;
        }

        .input-field:focus{
            border: 2px solid black;
        }

        .btn{
            background-color: tan;
            color:white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width:100%;
            opacity:0.9;
        }

        .btn:hover{
            opacity:1;
        }

       .column{
           float:left;
           width:33.3%;
           margin-bottom:20px;
           padding:0 8px;
       }

       .card{
           box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
       }

       .card img{
           height:200px;
           object-fit:cover;
           width:100%;
       }

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: white;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: lightgrey;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: #555;
    }

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.bordered-text{
    border:2px solid tan;
    padding:10px;
    border-radius:5px;
    color: white;
}

.register-container{
    margin: auto;
    position:center;
    align-items: center;
    max-width:780px;
    background: black;
    padding:25px 30px;
    border-radius: 30px;
    border-style:solid;
    border-width:medium;
    border-color:deepskyblue;
}

.title-registration{
    font-size: 25px;
    font-weight: 500;
    color: white;
    position: relative;
}

.register-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    color: white;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display:block;
    font-weight: 500;
    margin-bottom: 5px;
}


.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    color: black;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
    transition: all 0.3s ease;
}

    .user-details .input-box input::after focus,
    .user-details .input-box input::after valid{

        border-color:tan;
    }

form .register-button{
    height: 45px;
    margin: 45px 0;
}

form .register-button input{
    height:100%;
    width:100%;
    outline: none;
    color: black;
    border: none;
    border-radius: 5px;
    background: deepskyblue;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}


/*art form*/


.artwork-container {
    margin: auto;
    position: center;
    align-items: center;
    max-width: 780px;
    background: black;
    padding: 25px 30px;
    border-radius: 30px;
    border-style: solid;
    border-width: medium;
    border-color: deepskyblue;
}

.title-form {
    font-size: 25px;
    font-weight: 500;
    color: white;
    position: relative;
}

.artwork-container form .product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .product-details .input-box {
    margin-bottom: 15px;
    color: white;
    width: calc(100% / 2 - 20px);
}

.product-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


.product-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    color: black;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .product-details .input-box input::after focus,
    .product-details .input-box input::after valid {
        border-color: tan;
    }

form .form-button {
    height: 45px;
    margin: 45px 0;
}

    form .form-button input {
        height: 100%;
        width: 100%;
        outline: none;
        color: black;
        border: none;
        border-radius: 5px;
        background: deepskyblue;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
    }


              /* REFERENCES*/
/*W3Schools, 2024. How TO - Collapse Sidebar. [Online]
Available at: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
[Accessed 25 April 2024].*/
